@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,700,500,400,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-white font-sans antialiased selection:bg-vantra selection:text-dark-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-tighter;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-dark-base/30 backdrop-blur-md border border-white/10 shadow-xl;
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(237, 242, 70, 0.3);
  }
}